{
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		["module-resolver", {"alias": {"begonia": "./src"}}]
	],
	"presets": [
		["@babel/preset-env", {"targets":{"node": "current"}}],
		"@babel/preset-flow"
	]
}
